@page "/buildoverview"
@using Lieb.Data
@using Lieb.Models.GuildWars2
@inject GuildWars2BuildService GuildWars2BuildService


<h3>Build Overview</h3>


<AuthorizeView Policy="@Constants.Roles.Admin.Name">
    <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buildedit">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Build
            </NavLink>
        </div>
    </Authorized>
</AuthorizeView>
            
    <BuildList _account=@null _allowEdit=true></BuildList>

@code 
{

    protected override async Task OnInitializedAsync()
    {
    }
}
