.roletable{
    margin-top: 15px;
    border: 1px solid;
    
}

.roletable td {
    border: 1px solid;
    padding-left: 8px;
    padding-right: 8px;
}

.checkboxfield 
{
    text-align: center;
}

.roletable th {
    border: 1px solid;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
