@page "/legal"

<h3>Website</h3>
<p>Design by Linaith#9249 and SmokeBubble#3354</p>
<p>To contact us, please use one of the following methods:</p>

<ul>
    <li>Join the [LIEB] Discord server (invite code VFG3XEBCPj)</li>
    <li>Contact us in-game (Linaith.2375 or hierpiepts.5241)</li>
</ul>

<br>
<p>This website exists to allow users to sign up for different events in the game Guild Wars 2.</p>
<p>The website is also linked to a Discord bot to allow users to sign up to said events via Dicord.</p>

<h3>Privacy Notice</h3>
<h4>Discord</h4>
<p>This website uses Discords oAuth interface to sign up users. That means to sign up you are forwarded to discord.com and asked to sign in with your Discord account.
    Everything the Website gets to know is your Discord id, name and profile banner. The id is used to identify different users and therefore saved.
    The name is used as standard name. The banner is just ignored.
 </p>

<h4>User data</h4>
<ul>
    <li><b>Discord ID: </b> This id is used to identify the user.</li>
    <li><b>Discord Username: </b>Used as standard name if creating the account on the website.</li>
    <li><b>Name: </b>Every user can set a name.</li>
    <li><b>Guild Wars 2 Account Name: </b>The name of the Guild Wars 2 account. Used to invite users ingame.</li>
    <li><b>Equipped Guild Wars 2 builds: </b>Are used to create random groups after siging up for a randomized event.</li>
    <li><b>Events the user is signed up to</b></li>
    <li><b>Timezone: </b>Is not saved and only used to show the event in your time.</li>
</ul>
<p>This data is only used to allow users to sign up to different events and to create some statistics about said events. It will never be forwarded to a third party.</p>
<p>The account can be deleted any time without leaving any traces. 
    If the user was banned from the website before deleting the account the Discord id will not be deleted. 
    Otherwise users could avoid the ban by deleting the account and signing up again.</p>

<br>
<h4>IP address</h4>
<p>We log your full IP address and "user agent" together with the pages you access because that's standard for a web server. We don't do anything with it except generate aggregated statistics of website traffic from time to time.</p>

<p>The "user agent" is a bit of text sent by your browser which identifies it - for example "Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36". It simply offers version numbers of browsers.</p>

<p>The IP address is either the IP address your ISP has given you, or the IP address of a VPN or web proxy if you use one.</p>

<h4>Cookies</h4>
<ul>
    <li><b>Session: </b>Includes information about the current session.</li>
    <li><b>Login: </b>Used to stay logged in.</li>
</ul>

<h4>Questions?</h4>

<p>If you have any questions regarding the above, please get in touch and we will do our best to assist you.</p>

<h4>Acknowledgements</h4>

<p>NCSOFT, the interlocking NC logo, ArenaNet, Guild Wars, Guild Wars Factions, Guild Wars Nightfall, Guild Wars: Eye of the North, Guild Wars 2, Heart of Thorns, Guild Wars 2: Path of Fire, and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation.</p>

<p>All other trademarks are the property of their respective owners.</p>