@page "/raidoverview"
@using Lieb.Data
@inject RaidService RaidService


<h3>RaidOverview</h3>


<AuthorizeView Policy="@Constants.Roles.RaidLead">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="raidedit">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Raid
            </NavLink>
        </div>
</AuthorizeView>


@foreach (var raid in raids) {
    <br />
    <RaidDetails _raid=@raid />
}



@code 
{
    private List<Models.GuildWars2.Raid.Raid> raids;

    protected override async Task OnInitializedAsync()
    {
        raids = RaidService.GetRaids();
    }
}
