
table {
    column-width: auto;
    color: lightgrey;
    width: fit-content;
}

button {
    /*width: max-content;*/
    width: 80px;
}

.tdSignUp {
    max-width: 400px;
    width: fit-content;
}


.tdRole {
    max-width: 500px;
    width: fit-content;
}
