
h5 {
    color: lightgrey;
}

table {
    column-width: auto;
    color: lightgray;
    width: fit-content;
/*    border-top: none;
    border-bottom: none;*/
}

button {
    width: max-content;
}

.signUpButton{
    width: 30px;
}

.tdSignUp {
    max-width: 400px;
    width: fit-content;
}


.tdRole {
    max-width: 500px;
    width: fit-content;
}


/*.roleTable table tr:not(:first-child) > td {
    border-top: none;
}

.roleTable table tr:not(:last-child) > td {
    border-bottom: none;
}*/