body {
    background-color: rgb(38 38 38);
    border-radius: 25px;
    padding: 25px;
    width: 700px;
    /*width: fit-content;*/
    color: lightgray;
}

h5 {
    color: lightgrey;
}

.times {
    float: left;
    display: inline;
    width: 33%;
    padding-top: 15px;
}


.details {
    float: left;
    display: inline;
    width: 150px;
    padding-top: 15px;
}

table {
    column-width: auto;
    color: lightgray;
}