body {
    background-color: rgb(38 38 38);
    border-radius: 25px;
    padding: 25px;
    /*width: 900px;*/
    width: stretch;
    color: lightgray;
}

h5 {
    color: lightgrey;
}

.timesblock {
    display: block;
}

.times {
    display: inline-block;
    width: 250px;
    padding-top: 15px;
}

.detailsblock {
    display: block;
}

.details {
    display: inline-block;
    width: 250px;
    padding-top: 15px;
}

.controlButton {
    margin-right: 10px;
}

table {
    column-width: auto;
    color: lightgray;
}

.errormessage{
    color:red;
}

.signUpStatusTooltip {
    position: relative;
    display: inline-block;
    margin-left: 150px;
}

.signUpStatusTooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.signUpStatusTooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.signUpStatusTooltip:hover .tooltiptext {
    visibility: visible;
}