@page "/raidtemplateoverview"
@using Lieb.Data
@using System.Security.Claims
@using Lieb.Models
@using Lieb.Models.GuildWars2.Raid
@inject RaidTemplateService RaidTemplateService
@inject UserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider


<h3>RaidTemplateOverview</h3>


<AuthorizeView Policy="@Constants.Roles.RaidLead">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="raidtemplateedit">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Raid
            </NavLink>
        </div>
</AuthorizeView>

@foreach (var raid in _templates.OrderBy(r => r.StartTime)) 
{
    <br />
    <RaidTemplateDetails _template=@raid/>
}



@code 
{
    private List<RaidTemplate> _templates;

    protected override async Task OnInitializedAsync()
    {
        _templates = RaidTemplateService.GetTemplates();
    }
}
