body {
    background-color: rgb(38 38 38);
    border-radius: 25px;
    padding: 25px;
    /*width: 700px;*/
    /*width: fit-content;*/
    width: stretch;
    color: lightgray;
}

h5 {
    color: lightgrey;
}

.timesblock {
    display: block;
}

.times {
    display: inline-block;
    width: 250px;
    padding-top: 15px;
}

.detailsblock {
    display: block;
}

.details {
    display: inline-block;
    width: 250px;
    padding-top: 15px;
}

table {
    column-width: auto;
    color: lightgray;
}